@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("../src/Fonts.css");

*{
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;

}
body {
 background-color: #f6f6f6f6;
  font-family:"iranyekan";

}
